# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BC\JAVA\SourceCode\Project\翻斗幼儿园数字化信息管理平台2.0\后端API\kindergarten\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
